.rotate-icon {
    transform: rotate(-30deg); 
    vertical-align: 3px
}

.icon-container {
    text-align: right;
}

.icon-container > .material-symbols-outlined {
    margin-right: 10px;
}

.dropdown-toggle::after {
    display: none;
}

.material-symbols-outlined {
    cursor: pointer;
    user-select: none;
}

.navbar .icon-container .material-symbols-outlined.dropdown-toggle::after {
    display: none;
}


.icon-container .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
}

.dropdown-menu .material-symbols-outlined {
    margin-right : 4px;
    vertical-align: -6px
}

.modal-dialog {
    max-width: 300px !important;
    transform: translate(0, 50%);
    top: 10%;
    margin: 1.75rem auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        transform: translate(0, -50%);
    }
}

.modal-body .material-symbols-outlined {
    margin-right : 4px;
    vertical-align: -6px
}

.toggle-text {
    cursor: pointer;
    user-select: none;
}
.modal-body ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-body ul li {
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 0;
}

.modal-body ul li:last-child {
    border-bottom: none;
}


.main_body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FAFAFA;
}

.left_body {
    margin-right: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.right_body {
    width: 300px;
    height: 1000px;
    left: 72%;
    position: fixed
}

.feed_name{
    padding: 10px;
    display: flex;
    align-items: center;
}

.feed_name_txt{
    font-size: 14px;
    padding: 0px 10px;
    font-weight: bold;
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed_box {
    background-color: white;
    width: 480px;
    margin: 10px; 
}

.feed_img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.feed_content{
    padding: 0px 10px;
}

.feed_like{
    padding: 0px 10px;
}

.feed_reply{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}


.feed_txt{
    font-size: 14px;
}

.feed_icon{
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}

.name_content{
    display: flex;
    flex-direction: column;
}

.name_content_txt{
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big_profile_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

.link_txt{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.recommend_box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.comment_box{
    margin: 40px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background-color: #121212 !important;
    color: #ffffff;
}

body.dark-mode {
    background-color: #121212 !important;
    color: #ffffff;
}

body.dark-mode .modal-content {
    background-color: #222;
    color: #fff; 
}

.dark-mode .main_body {
    background-color: #121212 !important;
}

.dark-mode .navbar {
    background-color: #121212 !important;
    color: #ffffff;
}

.dark-mode .navbar .material-symbols-outlined,
.dark-mode .navbar .dropdown-menu {
    color: #ffffff;
}

.dark-mode .feed_box {
    background-color: #121212 !important;
}

body.dark-mode .modal-dialog .btn-close {
    color: #fff !important;
}
