<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clonstagram</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;height: 50px;position: fixed;" >
        <div class="container-fluid">
          <img style = "height : 30px; object-fit: contain;"
           src="https://i.imgur.com/LdhwOhQ.png">
           <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
           <div class="icon-container">
            <span class="material-symbols-outlined">home</span>
            <span class="material-symbols-outlined rotate-icon">send</span>
            <span class="material-symbols-outlined">favorite</span>
            <span class="material-symbols-outlined">add_box</span>
            <span class="material-symbols-outlined">explore</span>
            <span class="material-symbols-outlined dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">menu</span>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">메뉴 1</a>
              <a class="dropdown-item" href="#">메뉴 2</a>
              <a class="dropdown-item" href="#">메뉴 3</a>
              <a class="dropdown-item" href="#">메뉴 4</a>
              <a class="dropdown-item" href="#">메뉴 5</a>
          </div>
          </div>          
        </div>
      </nav>
    <div class="main_body">
      <div class="left_body">
        <div class="border feed_box">
          <div class="feed_name">
            <div class="profile_box">
              <img class="profile_img" src="https://asukasaito.jp/files/36/msgapp/images/artist.jpg">
            </div>
            <span class="feed_name_txt"> jin.99 </span>
          </div>
          <img class="feed_img" src="https://pics.prcm.jp/33e141ab49230/86120670/jpeg/86120670.jpeg">
          <div class="feed_icon">
            <div>
              <span class="material-symbols-outlined">
                favorite
              </span>
              <span class="material-symbols-outlined">
                mode_comment
              </span>
              <span class="material-symbols-outlined rotate-icon">
                send
              </span>
            </div>
            <div>
              <span class="material-symbols-outlined">
                bookmark
                </span>
            </div>
          </div>
          <div class="feed_like">
            <p class="feed_txt"> <b>좋아요 6,974개</b></p>
          </div>
          <div class="feed_content">
            <p class="feed_txt">
              <b>Saito Asuka</b> 아 시발 꼴린다!
            </p>
          </div>
          <div class="feed_reply">
            <span class="feed_txt"> <b> mychew </b> 사랑해 씹련아 </span>
            <span class="feed_txt"> <b> cho </b> 나도 사랑해 시발 </span>
          </div>
        </div>
      </div>
      <div class="right_body">
        <div class="feed_name" style="justify-content: space-between">
          <div style="display: flex; align-items: center; ">
            <div class="big_profile_box">
              <img class="profile_img"
                   src="https://lkfdream.wisacdn.com/leathernori/_data/product/201404/21/f212a075e52008ddea4e2acf685cc6dc.jpg">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> Clone_Man </span>
              <span class="name_content_txt"> Lee Dongyeon</span>
            </div>
          </div>
    
          <a class="link_txt" >
            전환
          </a>
        </div>
    
        <div class="recommend_box">
          <span style="color: gray"> 회원님을 위한 추천</span>
          <span style="font-size: 12px"> 모두 보기 </span>
        </div>
        <div>
          <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
              <img class="profile_img"
                   src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> dation3388 </span>
              <span class="name_content_txt"> Jinstargram 신규가입</span>
            </div>
            <a class="link_txt">
              팔로우
            </a>
          </div>
          <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
              <img class="profile_img"
                   src="http://file3.instiz.net/data/cached_img/upload/2021/01/27/18/2ce2f41f7e9f09c0acc77faac7452dbf.jpg">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> gaoudi </span>
              <span class="name_content_txt"> IU 외 5명이 팔로우</span>
            </div>
            <a class="link_txt">
              팔로우
            </a>
          </div>
          <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
              <img class="profile_img"
                   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTiCVWdogd6Ocsm08kL8ph4sb1MN0AYEiSUQ&usqp=CAU">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> CAU </span>
              <span class="name_content_txt"> IU 외 5명이 팔로우</span>
            </div>
            <a class="link_txt">
              팔로우
            </a>
          </div>
          <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
              <img class="profile_img"
                   src="https://pbs.twimg.com/media/EhzH0_DU4AEZ9yr.jpg">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> 123456789 </span>
              <span class="name_content_txt"> 그냥 추천해봄 </span>
            </div>
            <a class="link_txt">
              팔로우
            </a>
          </div>
          <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
              <img class="profile_img"
                   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU">
            </div>
            <div class="name_content">
              <span class="feed_name_txt"> instiz </span>
              <span class="name_content_txt"> 애도 유명해 </span>
            </div>
            <a class="link_txt">
              팔로우
            </a>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
          $("#dropdownMenuButton").click(function(){
              $(".dropdown-menu").toggle();
          });
      });
      </script>
  </body>
</html>